service vendor.matrixleds /vendor/bin/hw/vendor.nukisystems.nanoglyph.matrix-service
    class hal
    user system
    group system
    interface aidl vendor.nukisystems.nanoglyph.IMatrixLeds/default
    capabilities SYS_NICE
    disabled

on boot 
    chown system system /dev/matrix-leds
    chmod 660 /dev/matrix-leds
    chown system system /sys/class/leds/matrix-leds/single_brightness
    chmod 660 /sys/class/leds/matrix-leds/single_brightness
    chown system system /sys/class/leds/matrix-leds/all_white_brightness
    chmod 660 /sys/class/leds/matrix-leds/all_white_brightness
    chown system system /sys/class/leds/matrix-leds/frame_brightness
    chmod 660 /sys/class/leds/matrix-leds/frame_brightness
    chown system system /sys/class/leds/matrix-leds/all_brightness
    chmod 660 /sys/class/leds/matrix-leds/all_brightness
    chown system system /sys/class/leds/matrix-leds/operating_mode
    chmod 660 /sys/class/leds/matrix-leds/operating_mode
    start vendor.matrixleds
